:root {
  /* 基础颜色 */
  --bk-color-white: #ffffff;
  --bk-color-black: #000000;
  /* 主题色 */
  $colors: (
    primary: #409eff,
    success: #67c23a,
    warning: #e6a23c,
    danger: #f56c6c,
    info: #909399,
  );

  @each $val, $color in $colors {
    --bk-color-#{$val}: #{$color};
    @for $i from 3 through 9 {
      @if $i %2 ==1 {
        --bk-color-#{$val}-light-#{$i}: #{mix(#fff, $color, $i * 10%)};
      }
    }
    --bk-color-#{$val}-light-8: #{mix(white, $color, 80%)};
    --bk-color-#{$val}-dark-2: #{mix(black, $color, 20%)};
  }

  --bk-bg-color: #ffffff;
  --bk-bg-color-page: #f2f3f5;
  --bk-bg-color-overlay: #ffffff;
  --bk-text-color-primary: #303133;
  --bk-text-color-regular: #606266;
  --bk-text-color-secondary: #909399;
  --bk-text-color-placeholder: #a8abb2;
  --bk-text-color-disabled: #c0c4cc;
  --bk-border-color: #dcdfe6;
  --bk-border-color-light: #e4e7ed;
  --bk-border-color-lighter: #ebeef5;
  --bk-border-color-extra-light: #f2f6fc;
  --bk-border-color-dark: #d4d7de;
  --bk-border-color-darker: #cdd0d6;
  --bk-fill-color: #f0f2f5;
  --bk-fill-color-light: #f5f7fa;
  --bk-fill-color-lighter: #fafafa;
  --bk-fill-color-extra-light: #fafcff;
  --bk-fill-color-dark: #ebedf0;
  --bk-fill-color-darker: #e6e8eb;
  --bk-fill-color-blank: #ffffff;

  /* border */
  --bk-border-width: 1px;
  --bk-border-style: solid;
  --bk-border-color-hover: var(--bk-text-color-disabled);
  --bk-border: var(--bk-border-width) var(--bk-border-style)
    var(--bk-border-color);
  --bk-border-radius-base: 4px;
  --bk-border-radius-small: 2px;
  --bk-border-radius-round: 20px;
  --bk-border-radius-circle: 100%;

  /*font*/
  --bk-font-size-extra-large: 20px;
  --bk-font-size-large: 18px;
  --bk-font-size-medium: 16px;
  --bk-font-size-base: 14px;
  --bk-font-size-small: 13px;
  --bk-font-size-extra-small: 12px;
  --bk-font-family: "Helvetica Neue", Helvetica, "PingFang SC",
    "Hiragino Sans GB", "Microsoft YaHei", "\5fae\8f6f\96c5\9ed1", Arial,
    sans-serif;
  --bk-font-weight-primary: 500;

  /*disabled*/
  --bk-disabled-bg-color: var(--bk-fill-color-light);
  --bk-disabled-text-color: var(--bk-text-color-placeholder);
  --bk-disabled-border-color: var(--bk-border-color-light);

  /*animation*/
  --bk-transition-duration: 0.3s;
  --bk-transition-duration-fast: 0.2s;
}
