@font-face {
  font-family: "iconfont"; /* Project id 4426888 */
  src: url("//at.alicdn.com/t/c/font_4426888_za1q1g341x.woff2?t=1706530111867")
      format("woff2"),
    url("//at.alicdn.com/t/c/font_4426888_za1q1g341x.woff?t=1706530111867")
      format("woff"),
    url("//at.alicdn.com/t/c/font_4426888_za1q1g341x.ttf?t=1706530111867")
      format("truetype");
}

.bk-rate__icon-star {
  margin: 0 4px;
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 18px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #999;
}
.iconfont.bk-rate__star-default {
  font-size: 16px;
}
.iconfont.bk-rate__star-large {
  font-size: 18px;
}
.iconfont.bk-rate__star-small {
  font-size: 14px;
}

.bk-rate__icon-star:before {
  content: "\e600";
}

.iconfont.bk-rate__icon-star {
  transition: color 0.3s;
}
.iconfont.active {
  color: #fbab06;
}
