.bk-icon {
  --bk-icon-color: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor;
  color: var(--bk-icon-color);
  font-size: inherit;
}

@each $val in primary, info, success, warning, danger {
  .bk-icon--#{$val} {
    --bk-icon-color: var(--bk-color-#{$val});
  }
}
