.bk-alert {
  // height: 34px;
  min-height: 34px;
  width: 100%;
  max-width: 600px;
  padding: 0px 16px;
  position: relative;

  margin-bottom: 4px;
  box-sizing: border-box;
  border-radius: 4px;
  opacity: 1;
  overflow: hidden;

  display: flex;
  align-items: center;
  border: 1px solid var(--bk-alert-border-color, var(--bk-border-color));
  font-weight: var(--bk-alert-font-weight, var(--bk-font-weight-primary));
  background-color: var(--bk-alert-bg-color, var(--bk-fill-color-blank));
  color: var(--bk-alert-text-color, var(--bk-text-color-regular));
  &.is-center {
    justify-content: center;
  }
  .bk-alert__content-wrapper {
    display: flex;
    align-items: center;

    .bk-icon {
      margin-right: 12px;
    }
    .bk-alert__content {
      // display: flex;
      flex-grow: 1;

      .bk-alert__title {
        font-weight: 500;
        font-size: 14px;
      }
      .bk-alert__description {
        margin-top: 8px;
        font-size: 14px;
      }
    }

    //当描述或者插槽内容存在时将图标和title的字体变大
    &:has(.bk-alert__description:not(:empty)) {
      .bk-alert__title {
        font-size: 20px;
      }
      .bk-icon {
        transform: scale(1.5);
      }
    }
  }

  .bk-alert__close-btn {
    position: absolute;
    right: 10px;
    color: var(--bk-alert-close-color, rgb(168, 171, 178));
    cursor: pointer;
    &:hover {
      color: var(--bk-alert-close-hover-color, var(--bk-color-primary));
    }
  }
  // 不同类型样式
  $types: primary, success, warning, info, error;
  @each $type in $types {
    &--#{$type} {
      --bk-alert-bg-color: var(--bk-color-#{$type}-light-9);
      --bk-alert-text-color: var(--bk-color-#{$type});
      --bk-alert-border-color: var(--bk-color-#{$type}-light-8);
      --bk-alert-close-color: var(--bk-color-#{$type}-light-5);
      --bk-alert-close-hover-color: var(--bk-color-#{$type});
    }
  }

  // 深色主题
  &.is-dark {
    @each $type in $types {
      &.bk-alert--#{$type} {
        --bk-alert-bg-color: var(--bk-color-#{$type});
        --bk-alert-text-color: var(--bk-color-white);
        --bk-alert-border-color: var(--bk-color-#{$type});
        --bk-alert-close-color: var(--bk-color-white) !important;
        --bk-alert-close-hover-color: var(--bk-color-white) !important;
      }
    }
  }
}
//关闭动画
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-leave-to {
  opacity: 0;
}
